.word {
    font-size: 24px;
    border : 2px solid red;
}

div{
    display: flex;
}

p::after {
    content: "";
    flex: 1;
}

.translation-container{
    background-color: peachpuff;
    padding: 10px;
    border-radius: 5px;
    display: none;

}