body{
    background-color: #3b3d47;
    margin: 0;
}   

aside.mainAside{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 75px;
    height: 100vh;
    background-color: #33353d;
    margin: 0px;
}

.iconContainer{
    width: 75px;
    height: 75px;
    border-radius: 10px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconContainer img{
    width: 100% ;
    height: 100% ;
    padding: 0px;
}

#accountOptions img{
    width: 50%;
    height: 50%;
    padding: auto;
    filter: invert(1);
}