body {
  background-color: #3b3d47;
  margin: 0;
  display: flex;
  min-height: 100vh;
}

aside.mainAside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75px;
  height: 100vh;
  background-color: #33353d;
  margin: 0px;
}

.iconContainer {
  width: 75px;
  height: 75px;
  border-radius: 10px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.1s ease;
}

.iconContainer img {
  width: 100%;
  height: 100%;
  padding: 0px;
}

.iconContainer:hover {
  background-color: #43BCBB33;
}

.content {
  padding: 25px;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.inactive{
    display: none;
}

#accountOptionsIconContainer img {
  width: 50%;
  height: 50%;
  filter: invert(1);
}

#adminIconContainer img {
  width: 50%;
  height: 50%;
  filter: invert(1);
}
