body {
  background-color: #3b3d47;
  margin: 0;
  display: flex;
  min-height: 100vh;
}

aside.mainAside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75px;
  height: 100vh;
  background-color: #33353d;
  margin: 0px;
}


.iconContainer {
  width: 75px;
  height: 75px;
  border-radius: 10px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.1s ease;
}

.iconContainer img {
  width: 100%;
  height: 100%;
  padding: 0px;
}

.iconContainer:hover {
  background-color: #43BCBB33;
}

.content {
  padding: 25px;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.inactive{
  display: none;
}

.tableInput{
  background-color: #3b3d47;
}

.adminPanelButton{
  width: fit-content;
  height: fit-content;
  justify-content: center;
  padding: 5px 10px;
  margin: 0px 5px;
  border-radius: 5px;
  background-color: #CC2054;
}

.adminPanelButton:focus{
  outline: 1px black solid;
  border: none;
}

.adminPanelButton:hover{
  background-color: #e92560;
}

.successPopUp{
  background-color: #6EC72D;
}

.successPopUp:hover{
  background-color: #5da826;
}

#addUserAdminRowButton{
  background-color: #8DCB42;
  width: 100%;
  margin: 10px;
}

#deleteAdminRowButton img{
  height: 20px;
  padding: 2px 5px;
  filter: invert(1)
}

#deleteAdminRowButton{
  padding: 0;

}

#adminContent{
  justify-content: center;
  text-align: center;
}

#adminContent table{
  margin: 0 auto;
}

#adminContent th{
  padding:  15px 0px 0px 5px;
}

#adminContent input{
  padding: 5px 10px;
  width: 200px;
  text-align: left;
  margin: 0px, 5px;
  border: #3b3d47 1px solid;
  background-color: #33353d;
  border-radius: 5px;
}

#adminContent input:focus{
  border-color: #43BCBB;
  outline: none;
}

#adminContent thead tr{
  text-align: left;
}

#adminContent #tableInputRoleID, #adminContent #tableInputID{
  width: 40px;
}

#accountOptionsIconContainer img {
  width: 50%;
  height: 50%;
  filter: invert(1);
}

#adminIconContainer img {
  width: 50%;
  height: 50%;
  filter: invert(1);
}
