body {
  background-color: #3b3d47;
  margin: 0;
  display: flex;
  min-height: 100vh;
}

aside.mainAside {
  position: fixed;
  top: 0;
  left: 0; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75px;
  height: 100vh;
  background-color: #33353d;
  margin: 0px;
}


.iconContainer {
  width: 75px;
  height: 75px;
  border-radius: 10px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.1s ease;
}

.iconContainer img {
  width: 100%;
  height: 100%;
  padding: 0px;
}

.iconContainer:hover {
  background-color: #43BCBB33;
}

.content {
  padding: 25px;
  width: calc(100% - 75px);
  text-align: center;
  justify-content: center;
  margin-left: 75px;
}

.inactive{
  display: none !important;
}

.tableInput{
  background-color: #3b3d47;
}

.adminPanelButton{
  width: fit-content;
  height: fit-content;
  justify-content: center;
  padding: 5px 10px;
  margin: 0px 5px;
  border-radius: 5px;
  background-color: #CC2054;
}

.adminPanelButton:focus{
  outline: 1px black solid;
  border: none;
}

.adminPanelButton:hover{
  background-color: #e92560;
}

.successPopUp{
  background-color: #6EC72D;
}

.successPopUp:hover{
  background-color: #5da826;
}

.unselected{
  border: 2px #CC2054 solid;
  background-color: transparent;
}

.selected{
  padding: 7px, 12px;
}

.unselected:hover{
  background-color: transparent;
}

.coursesInfoContainer{
  display:flex;
  flex-direction: column;
  gap: 16px;
  justify-content: stretch;
}

.courseInfo{
  text-align: left;
  background-color: var(--panel);
  padding: 20px;
  border-radius: 10px;
  margin: 30px 30px 0px 30px;
  transition: background-color 0.3s ease 0s;
  cursor: pointer;
}

@starting-style{
  .courseInfo{
    background-color: var(--panel);
  }
}

.courseInfo:hover{
  background-color: var(--panel-2);
}
.courseInfo p{
  font-size: 30px;
  font-weight: normal;
}

.courseInfo button{
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: left;
  color: inherit;
  font: inherit;
  cursor: pointer;
  text-decoration: none;
}

.lessonContentContainer{
  all: initial; 
  display: block; 
  width: 100%;
  box-sizing: border-box;
  color: white;
  font-family: sans-serif;
  text-align: left; 
  padding: 15px;
  text-decoration: none;
}

#lessonsActionsContainer input, #coursesActionsContainer input{
  color: black;
}

#coursesContainer{
  display:flex;
  flex-direction: column;
  gap: 16px;
  justify-content: stretch;
}

#coursesRow, #lessonsRow{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
}

#adminTableSearchContainer button{
  height: 27px;
  width: 27px;
  padding: 0px;
  margin: 10px;
}

#adminContentSearchContainer input{
  margin-left: 0px;
}

#adminContentSearchContainer button:focus{
  border-color: white;
  outline: none;
}

#adminTableSearchContainer{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#adminTableSearchIcon{
  width: 15px;
  filter: invert(1)
}

#addUserAdminRowButton{
  background-color: #8DCB42;
  width: 100%;
  margin: 10px;
}

#adminTableSearchBox{
  padding-left: 32px; 
}

#updateAdminRowButton{
  background-color: #FABB18;
}


#deleteAdminRowButton img{
  height: 20px;
  padding: 2px 5px;
  filter: invert(1)
}

#deleteAdminRowButton{
  padding: 0;

}

#adminContent{
  justify-content: center;
  text-align: center;
}

#adminContent table{
  margin: 0 auto;
}

#adminContent th{
  padding:  15px 0px 0px 5px;
}

#adminContent input{
  padding: 5px 10px;
  width: 200px;
  text-align: left;
  margin: 0px, 5px;
  border: #3b3d47 1px solid;
  background-color: #33353d;
  border-radius: 5px;
}

#adminContent input:focus{
  border-color: #43BCBB;
  outline: none;
}

#adminContent thead tr{
  text-align: left;
}

#adminContent #tableInputRoleID, #adminContent #tableInputID{
  width: 40px;
}

#accountOptionsIconContainer img, #adminIconContainer img, #contentEditorContainer img {
  width: 50%;
  height: 50%;
  filter: invert(1);
}






/* summernote */
#contentEditorContent{
  text-align: left;      
  display: flex;/* editor looks better left-aligned */
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

#contentEditorContent h1{
  width: min(1000px, 100%);
  text-align: center;
}

#contentEditorContent{
  justify-content: flex-start;
}

/* Editor frame */
#contentEditorContent .note-editor.note-frame{
  width: 100%;
  border: 1px solid #3b3d47;
  border-radius: 12px;
  overflow: hidden;
  background: #33353d;
}

/* Toolbar */
#contentEditorContent .note-toolbar{
  background: #33353d;
  border-bottom: 1px solid #3b3d47;
}

#contentEditorContent .note-btn-group .note-btn{
  background: #2a2c33;
  border: 1px solid #3b3d47;
  color: #fff;
  border-radius: 8px;
}

#contentEditorContent .note-btn-group .note-btn:hover{
  background: #343742;
}

#contentEditorContent .note-btn-group .note-btn:focus{
  outline: 2px solid #43BCBB55;
  outline-offset: 1px;
}

/* Editing area */
#contentEditorContent .note-editing-area{
  background: #2a2c33;
}

#contentEditorContent .note-editable{
  background: #2a2c33;
  color: #fff;
  font-family: inherit;      /* use site font */
  font-size: 16px;
  line-height: 1.5;
  padding: 16px;
}

/* Status bar */
#contentEditorContent .note-statusbar{
  background: #33353d;
  border-top: 1px solid #3b3d47;
}

/* Dropdowns / popovers / modals */
.note-dropdown-menu,
.note-popover,
.note-modal-content{
  background: #2a2c33 !important;
  color: #fff !important;
  border: 1px solid #3b3d47 !important;
}

.note-dropdown-item:hover{
  background: #343742 !important;
}

.note-modal-header,
.note-modal-footer{
  background: #33353d !important;
  border-color: #3b3d47 !important;
}

.note-modal-body label,
.note-modal-body .note-form-label{
  color: #fff !important;
}

.note-modal-body input,
.note-modal-body select,
.note-modal-body textarea{
  background: #1e1f25 !important;
  color: #fff !important;
  border: 1px solid #3b3d47 !important;
  border-radius: 8px;
}