@font-face {
    font-family: 'Interphases';
    src: url('assets/fonts/ Interphases\ Pro\ Mono\ Trial\ Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Interphases Bold';
    src: url('assets/fonts/TT\ Interphases\ Pro\ Mono\ Trial\ Bold.ttf') format('truetype');
}


*{

    font-family: sans-serif;
    color: #FFF;
}

a{
    text-decoration: none;
    color: #FFFC;
}


button{
    text-decoration: none;
    border: none;
    color: #FFFC;
    text-decoration: none;
    color: #FFFF;
    cursor: pointer;
    background-color: #43BCBB;
    padding: 15px 15px;   
    border-radius: 40px;
}

button:hover{
    background-color: #308d8d;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

h1{
    font-size: 48px;
    margin: 0 0 20px 0;
}

h2{
    font-size: 24px;
    margin: 0 0 30px 0;
    font-weight: normal;
}

a.altLink{
    text-decoration: none;
    color: #FFFF;
    background-color: #43BCBB;
    padding: 15px 15px;   
    border-radius: 40px;
}

a, button{
    transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
}

a.link:hover, button.link:hover{
    text-decoration: none;
    color: #FFF;
}

a.altLink:hover, button.altLink:hover{
    background-color: #308d8d;
}

.hero{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 200px);
    box-sizing: border-box;
    padding: 40px 20px;
    margin-top: 0; 
    text-align: center;
    justify-content: center;
}

.backgroundVideoContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    color: #FFFF;
}

.backgroundVideoContainer::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.75);
    pointer-events: none;
    z-index: 1;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
}


.logoWithText {
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    flex-shrink: 0;
}

.navLinks {
    display: flex;
    gap: 30px;
    align-items: center;
}

.heroButton{
    color: #FFFF;
    background-color: #43BCBB;
    padding: 15px 15px;   
    border-radius: 40px;
    width: 125px;
    align-self: center;
}


.modal{
    transition: background 100ms ease 0s;
    transition: backdrop-filter 100ms ease 0s;

}

.modal::backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    transition: opacity 0.3s ease;
}

.heroTitle{
    font-size: 56px;
    margin: 0 0 5px 0;
    font-family: "Josefin Sans", 'Interphases Bold', sans-serif;
    font-weight: bold;

}

.modal fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 15px;
}

.modal label{
    font-size: 14px;
    text-align: left;
}

.buttonSpacer{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.altButton{
    background-color: transparent;
    border: 2px solid #43BCBB;
    color: #FFF;
    padding: 15px 15px;   
    border-radius: 40px;
    width: 125px;
    align-self: center;
}

#closeModalButton img{
    transition: filter 0.3s ease 0s;
}

#closeModalButton img:hover{
    filter: invert(0.25);

}

#secondaryHeroTitle{
    margin-bottom: 20px;
    color: #f63a7c;
}

#backgroundVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

@starting-style {
    #accountCreationModal[open] {
        opacity: 0;
        transform: 0.9s;
    }
    #accountCreationModal[open]::backdrop {
        opacity: 0;
    }
}

#accountCreationModal{
    min-width: 500px;
    min-height: 250px;
    border-radius: 10px;
    padding: 70px;
    background-color: #222;
    border: 3px solid #f63a7c;
    transition: opacity 0.3s ease;

}   

#accountCreationModal h2{
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: bold;;
    color: #FFF;
    font-size: 40px;
    text-align: center;
}

#accountCreationModal label{
    font-size: 16px;
    margin-bottom: 5px;
}

#accountCreationModal input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #f63a7c;
    font-size: 16px;
    background-color:#1e1e1e;
}

#closeModalButton {
    position: absolute;
    top: 15px;
    right: 15px;
    background: transparent; 
    padding: 0;              
    border-radius: 0;        
    width: 30px; 
}