*{
    /*arranjar fonte melhor*/
    font-family: sans-serif;
    color: #FFF;
}

a{
    text-decoration: none;
    color: #FFFC;
}


button{
    text-decoration: none;
    border: none;
    color: #FFFC;
    text-decoration: none;
    color: #FFFF;
    cursor: pointer;
    background-color: #43BCBB;
    padding: 15px 15px;   
    border-radius: 40px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

h1{
    font-size: 48px;
    margin: 0 0 20px 0;
}

h2{
    font-size: 24px;
    margin: 0 0 30px 0;
    font-weight: normal;
}

a.altLink{
    text-decoration: none;
    color: #FFFF;
    background-color: #43BCBB;
    padding: 15px 15px;   
    border-radius: 40px;
}

a.link:hover, button.link:hover{
    text-decoration: none;
    color: #FFF;
}

a.altLink:hover, button.altLink:hover{
    background-color: #308d8d;
}

.hero{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 200px);
    box-sizing: border-box;
    padding: 40px 20px;
    margin-top: 0; 
    text-align: center;
    justify-content: center;
}

.backgroundVideoContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    color: #FFFF;
}

.backgroundVideoContainer::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
    pointer-events: none;
    z-index: 1;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
}


.logoWithText {
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    flex-shrink: 0;
}

.navLinks {
    display: flex;
    gap: 30px;
    align-items: center;
}

.heroButton{
    color: #FFFF;
    background-color: #43BCBB;
    padding: 15px 15px;   
    border-radius: 40px;
    width: 125px;
    align-self: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
}

.modal::backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.heroTitle{
    font-size: 48px;
    margin: 0 0 5px 0;
}

#secondaryHeroTitle{
    margin-bottom: 20px;
    color: #f63a7c;
}

#backgroundVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

#accountCreationModal{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    padding: 20px;
    background-color: #222;
    border: none;
}

#accountCreationModal h2{
    margin-top: 0;
    margin-bottom: 20px;
    color: #FFF;
    font-size: 20px;
    text-align: center;
}