@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme{
  --color-primary: #CC2054;
  --color-primaryDark: #991942;
  --color-contrast: #2FA4A9;
  --color-complement: #E06A8C;
  --color-complement2:  #8E173B;
  --color-contrast2: #F0B429;
  --color-background: #0E0F14;
  --color-backgroundLight: #171821;
  --color-surface: #1F2230;
  --color-border: #2A2D3A;
}
